version: '3'
services:
  database:
    # Dockerfile이 있는 위치
    image: skjin20800/test2:11
    # 외부에 공개할 host명
    hostname: dbhost
    # 내부에서 개방할 포트 : 외부에서 접근할 포트
    ports:
      - "3306:3306"
    volumes:
      - todo-mysql-data:/var/lib/mysql
    networks:
      - test_net # 커스텀 네트워크 사용
  frontend:
    image: skjin20800/test3:1.1
    # 연결할 외부 디렉토리 : 컨테이너 내 디렉토리
    # volumes:
    #   - ./frontend:/home/node/app
    ports:
      - "3000:3000"
    networks:
      - test_net # 커스텀 네트워크 사용

  backend:
    image: skjin20800/test2:10
        # 연결할 외부 디렉토리 : 컨테이너 내 디렉토리
    # volumes:
    #   - ./backend:/usr/src/app
    ports:
      - "5000:5000"
    networks:
      - test_net # 커스텀 네트워크 사용

networks:
  test_net: # 내가 만든 커스텀 네트워크명
    driver: bridge # 커스템 네트워크 연결방식 bridge, Host방식등 4~5개 정도있는데 보통 bridge방식을 많이 사용한다.

volumes:
  todo-mysql-data:

  
    